body {
    background: linear-gradient(135deg, #5dcc7c, #2f1f89);
    margin: 0;
}

nav {
    float: left;
    height: 100%;
    background: black;
}

.social{
    list-style: none;
    display: block;
    width: 4%;
    position: fixed;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    height: 100%;
    background: black;
}

.social li {
    height: 25%;
}

a{
    display: block;
}

img{
   height: 100%;
   width: 90%;
}

header{
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

h1{
    color:  #5dcc7c;
    text-shadow: 3px 2px #2f1f89;
}

h3{
  color: #2f1f89;
  text-shadow: none;
  transition: 500ms;
}

h3:hover{
    color: #5dcc7c;
    text-shadow: 3px 2px #2f1f89;
    transition: 500ms;
}

section{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px outset #2f1f89;
    padding: 0 1%;
}

section h2{
    color: #cc5dbd;
    text-shadow: 3px 2px #2f1f89;
}

span {
    color: #5dcc7c
}